:root{
    --bg: #82B9F0;
    --border: #dbe7f5;
    --inputBg: #f8fbff;
    --borderRed: #eec4c4;
    --inputBGRed: #ffd9d9;
    --disable: #c5cbd3;
    --focusBorder: rgba(11, 107, 211, 0.45);
    --focusHover: 0 0 0 3px rgba(11, 107, 211, 0.15);
    --red: #ef4444;
    --darkred: #dc2626;
    --green: #23C85F;
    --darkgreen: #16a34a;
    --blue: #0b6bd3;
    --darkblue: #095bb3;
}

*{
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html, body{
    margin: 0;
    background-color: var(--bg);
    /* background: linear-gradient(180deg,rgba(130, 185, 240, 1) 60%, rgba(70, 125, 210, 1) 100%); */
}

input, select, textarea{
    font-size: 18px; 
    border: 1px solid var(--border);
    border-radius: 10px;
    background: var(--inputBg);
    padding: 2px 10px;
    transition: 0.3s ease;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
input:focus, select:focus, textarea:focus {
    outline: none !important;
    border-color: var(--focusBorder);
    box-shadow: var(--focusHover);
}
input[type="checkbox"]{
    width: 20px; 
    height: 20px; 
    margin: 0; 
    display: inline-block;
    vertical-align: middle;
}
input:disabled, select:disabled{background: var(--disable); cursor: not-allowed;}

input[type="radio"] {
    /* 1. ลบหน้าตาเดิมออก และลบ margin */
    appearance: none;
    -webkit-appearance: none;
    margin: 0 5px 0 0;
    padding: 0;

    /* 2. กำหนดขนาดและสีขอบที่ต้องการ */
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    
    /* 3. จัดตำแหน่งให้อยู่กลางข้อความ */
    vertical-align: middle;
    display: inline-grid;
    place-content: center;
    cursor: pointer;
}

/* 4. ใส่สีจุดตรงกลางเมื่อถูกเลือก (Optional) */
input[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgba(11, 107, 211, 1); /* สีจุดข้างใน */
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

#forminputSection{max-width: 850px; margin: 0 auto;}

#logo{height: 200px;}

#formHeader{
    text-align: center;
    /* background-color: #C8E1FF; */
    /* border-bottom: solid #0240f2 15px; */
}

#formHeaderText{margin: 30px 0px 0px; font-weight: bold;}

.forminputContainer{padding: 30px 0px;}

#mainForm{font-size: 18px;}

.formItemContainer{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 30px 0px;
}

#DescriptionBox{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(11,107,211,0.12);
    border: 1px solid rgba(11,107,211,0.35);
}
.DescriptionRow{display: flex;}
.DescriptionCollumn{display: flex; width: 50%; margin: 2px 0;}
.DescriptionLabel{
    width: 100%; 
    margin: auto; 
    padding: 2px 10px; 
    gap: 10px; 
    display: flex; 
    align-items: center;
}
.DescriptionInput{
    width: stretch; 
    border-radius: 10px; 
    background: var(--inputBg); 
    padding: 2px 10px; 
    border: 1px solid rgba(11,107,211,0.35); 
    overflow: overlay;
}
/* .FixComBoxInputItem{width: 90%;} */

#ETCBox{width: 100%; display: flex;}
#ETCBoxLeft{width: 15%;} #ETCBoxRight{width: 85%;}
#ETCText{width: 100%;}

.causeTextBox{
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(11,107,211,0.12);
    border: 1px solid rgba(11,107,211,0.35);
}
#causeTextFirstLineBox{width: 100%; display: flex;}
#causeTextFirstLineBoxLeft{width: 42%;} #causeTextFirstLineBoxRight{width: 59%}
.causeText{
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px rgba(11,107,211,0.35) solid;
    background: none;
    padding: 2px 0;
}
.causeText:focus{
    box-shadow: none;
    border-bottom: 1px rgba(11,107,211,1) solid;
}

.FormFooterContainer{display:flex; margin-top: 30px;}

.FormConfirmLeftItem{width: 75%;}
.FormConfirmRightItem{display: flex; margin: auto 0 0 auto;}
#useSignatureLabel{display: inline-flex;}

.FormConfirmButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100px;
    margin: 0 0 0 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.FormConfirmIcon{font-size: 30px; padding: 5px;}
.FormConfirmLabel{font-size: 18px; margin: 0;}

#submitButton{border: 1px solid var(--green); background-color: var(--green); cursor: pointer;}
#submitButton i, #submitButton p {color: white;}
#submitButton:hover{border: 1px solid var(--darkgreen); background-color: var(--darkgreen);}

#cancelButton{border: 1px solid var(--red); background-color: var(--red); cursor: pointer;}
#cancelButton i, #cancelButton p {color: white;}
#cancelButton:hover{border: 1px solid var(--darkred); background-color: var(--darkred);}

/* #downloadButton{border: 1px solid var(--blue); background-color: var(--blue); cursor: pointer;}
#downloadButton i, #downloadButton p {color: white;}
#downloadButton:hover{border: 1px solid var(--darkblue); background-color: var(--darkblue);} */

.required{border: 1px solid var(--borderRed); background: var(--inputBGRed);}
.requiredText{font-size: 16px; color: red; margin: 10px 0 0;}

@media screen and (max-width: 875px){
    #forminputSection{padding: 0 5vw;} 
    #mainForm{font-size: 16px;} 
    input, select, textarea{font-size: 16px;}
    #ETCBox{flex-direction: column;} 
    #ETCBoxLeft{width: 100%;} 
    #ETCBoxRight{width: 100%;}
    #ETCText{margin-top: 5px;}
    .formItemContainer{padding: 20px;}
    #formHeaderText{font-size: 24px;}
    /* #DescriptionBox{padding: 0 15px} */
    .DescriptionRow{flex-direction: column;}
    .DescriptionCollumn{width: 100%;}
    .DescriptionLabel{padding: 0;}
    i.DescriptionIcon{display: none;}
    .FormFooterContainer{flex-direction: column;}
    .FormConfirmLeftItem{width: 100%;}
    .FormConfirmRightItem{width: 100%; flex-direction: column;}
    .FormConfirmButton{width: 100%; margin: 0; height: auto;  flex-direction: row; margin: 10px auto 0px;}
    .FormConfirmIcon{font-size: 20px;}
    .FormConfirmLabel{font-size: 16px;}
    .requiredText{font-size: 14px;}
    #causeTextFirstLineBoxLeft{width: 100%;} 
    #causeTextFirstLineBoxRight{width: 100%;}
}

@media screen and (max-width: 700px){
    #causeTextFirstLineBoxLeft{width: 135%;}
}

@media screen and (max-width: 600px){
    #logo{height: 100px;}
    #useSignatureLabel{display: inline-block;}
    #causeTextFirstLineBox{flex-direction: column;}
    #causeTextFirstLineBoxLeft{width: 100%;} 
    #causeTextFirstLineBoxRight{width: 100%;}
}